:root {
    --primary: #000000;
    --secondary: #0ea7c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}

/* BODY */

body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* TITLE */

#title {
    font-size: 3em;
    padding: 20px 0;
}

/* DESCRIPTION */
#description-div {
    padding: 20px 0 30px 0;
}

/* OPTIONS */
#options-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

/* OPTION */

.option-card {
    transition:transform 0.1s ease-in;
}

.option-card:hover {
    transform: scale(1.03);
}

.option-image {
    width: 250px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#option-image-rock {
    background-image: url('./assets/icons8-rock-96.png')
}
#option-image-paper {
    background-image: url('./assets/icons8-paper-96.png')
}
#option-image-scissors {
    background-image: url('./assets/icons8-scissors-96.png')
}

.option-name {
    text-align: center;
    padding: 10px 0;
    pointer-events: none;
}

/* RESULT */

#result-div {
    padding: 40px 0 10px 0 ;
}

/* SCORES */

#score-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 30px 50px;
}

/* SCORE */
.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 80px;
}

/* STYLE */

.thick-border {
    border: 3px solid var(--secondary);
}

.text-div p {
    letter-spacing: 2px;
    text-align: center;
}